<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <settings>
        <setting name="mapUnderscoreToCamelCase" value="true"/>
    </settings>
    <typeAliases>
        <typeAlias type="com.hcsp.wxshop.entity.ShoppingCartData" alias="ShoppingCartData"/>
        <typeAlias type="com.hcsp.wxshop.entity.GoodsWithNumber" alias="ShoppingCartGoods"/>
        <typeAlias type="com.hcsp.wxshop.generate.Shop" alias="Shop"/>
        <typeAlias type="com.hcsp.api.data.GoodsInfo" alias="GoodsInfo"/>
    </typeAliases>
    <mappers>
        <mapper resource="db/mybatis/UserMapper.xml"/>
        <mapper resource="db/mybatis/ShopMapper.xml"/>
        <mapper resource="db/mybatis/GoodsMapper.xml"/>
        <mapper resource="db/mybatis/GoodsStockMapper.xml"/>
        <mapper resource="db/mybatis/ShoppingCartMapper.xml"/>
        <mapper resource="db/mybatis/ShoppingCartQuery.xml"/>
    </mappers>
</configuration>