<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <settings>
        <setting name="mapUnderscoreToCamelCase" value="true"/>
    </settings>
    <typeAliases>
        <typeAlias type="com.hcsp.api.data.OrderInfo" alias="OrderInfo"/>
        <typeAlias type="com.hcsp.api.data.GoodsInfo" alias="GoodsInfo"/>
        <typeAlias type="com.hcsp.api.generate.Order" alias="Order"/>
    </typeAliases>
    <mappers>
        <mapper resource="db/mybatis/MyOrderMapper.xml"/>
    </mappers>
</configuration>