<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hcsp.order.mapper.MyOrderMapper">
    <insert id="insertOrders" parameterType="OrderInfo">
        insert into (GOODS_ID, NUMBER)
        values
        <foreach item="item" collection="goods"
                 separator=",">
            (#{item.id},#{item.number})
        </foreach>
    </insert>
</mapper>